<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dbms_project.Properties.Settings.ConnectionString"
            connectionString="Data Source=127.0.0.1;User ID=pharm;Password=1234;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="dbms_project.Properties.Settings.ConnectionString1"
            connectionString="DATA SOURCE=DESKTOP-63KJQMD:1522/XE;PASSWORD=1234;USER ID=PHARM"
            providerName="Oracle.DataAccess.Client" />
        <add name="dbms_project.Properties.Settings.ConnectionString2"
            connectionString="Data Source=127.0.0.1;User ID=system;Password=admin;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="dbms_project.Properties.Settings.ConnectionString3"
            connectionString="Data Source=localhost;User ID=pharm;Password=1234;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>